[Unit]
Description=Skybox Display UI
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/skybox-display
Restart=on-failure

[Install]
WantedBy=multi-user.target
